<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Card</title>
</head>
<body>
<h1>Add a new card</h1>
<form method="post" >
    <p>
        <b>no</b>: <input type="text" name="no"><br>
        <b>name</b>: <input type="text" name="name"><br>
        <b>age</b>: <input type="text" name="age"><br>
        <b>tel</b>: <input type="text" name="tel"><br>
        <b>email</b>: <input type="text" name="email"><br>
    </p>
        <button type="submit">Create</button>
</form>
</body>
</html>